{% extends 'base.html.twig' %}

{% block title %}Valider votre compte{% endblock %}

{% block body %}

    <div class="text-center bg-warning mt-5 py-3">
        {{ error }}
    </div>

{% endblock %}