{% extends 'base.html.twig' %}

{% block title %}Erreur 404{% endblock %}

{% block body %}

<div class="container">
    <div class="row my-5">
        <div class="col-12 text-center">
            <h1 class="my-5">Oups ! La page que vous voulez voir est introuvable</h1>

            <p>Si vous recherchiez le logement de vos rêves, peut-être qu'il n'existe pas encore. N'hésitez pas à contacter notre agence, nous vous aiderons à donner vie à votre projet !</p>
        </div>
    </div>
</div>
{% endblock %}

